.nav-icon{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 5px;
    animation: rotation 4s infinite linear;
}

.nav-icon1{
    display: inline;
    position: absolute;
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-right: 5px;
    left: -1px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}